@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'flowbite';

.ant-pagination-item-active {
    background-color: #3F83F8 !important; /* Cambia a tu color deseado */
    border-color: #ffffff !important; /* Cambia el color del borde si lo deseas */
  }
  
  .ant-pagination-item-active a {
    color: white !important; /* Cambia el color del texto si es necesario */
  }

  
    .floating-label {
      position: relative;
    }
    .floating-label input, .floating-label textarea, .floating-label select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      background: transparent;
    }
    .floating-label label {
      position: absolute;
      top: 50%;
      left: 10px;
      color: #666;
      background: white;
      padding: 0 5px;
      pointer-events: none;
      transition: all 0.3s ease;
      transform: translateY(-50%);
    }
    .floating-label input:focus ~ label,
    .floating-label input:not(:placeholder-shown) ~ label,
    .floating-label textarea:focus ~ label,
    .floating-label textarea:not(:placeholder-shown) ~ label,
    .floating-label select:focus ~ label,
    .floating-label select:not([value=""]) ~ label {
      top: 0;
      left: 10px;
      color: #3b82f6; /* Color azul de foco */
      font-size: 0.75rem;
    }
    
    .sider:hover {
      color: #3f5efb;
      background: #fff;
      outline: none;
      position: relative;
      background-color: #fff;
     
    }
    
    
    .sider:hover::after {
      content: "";
      position: absolute;
      background-color: transparent;
      bottom: 100%;
      left: 0;
      height: 35px;
      width: 35px;
      border-bottom-left-radius: 18px;
      box-shadow: 0 20px 0 0 #fff;
    }
    
    .sider:hover::before {
      content: "";
      position: absolute;
      background-color: transparent;
      top: 38px;
      left: 0;
      height: 35px;
      width: 35px;
      border-top-left-radius: 18px;
      box-shadow: 0 -20px 0 0 #fff;
    }

    .sider {
      color: white;
      display: flex;
      padding: 12px;
      padding-left: 30px;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      
    }

    


  


