@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'flowbite';

.ant-pagination-item-active {
    background-color: #3F83F8 !important; /* Cambia a tu color deseado */
    border-color: #ffffff !important; /* Cambia el color del borde si lo deseas */
  }
  
  .ant-pagination-item-active a {
    color: white !important; /* Cambia el color del texto si es necesario */
  }
  


